body {
  font-family: "Wix Madefor Display", sans-serif;
  color: #282828;

  @media (min-width: 768px) {
    padding-top: 84px;
  }
}

a {
  text-decoration: none;
  color: #282828;
}

.header {
  font-size: 16px;
  transition: top 0.3s;

  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }

  .nav-link {
    color: #868686;

    &.active {
      color: #282828;
      font-weight: 500;
    }
  }

  .logo {
    font-size: 24px;
    font-weight: 600;
    font-family: "Cormorant Garamond";
  }
}

.main {
  padding: 120px 0;

  &.project-details {
    padding: 40px 0 120px;
  }
}

#greeting {
  --animate-delay: 0.5s;
  padding-bottom: 160px;
  overflow: hidden;

  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .description {
    font-size: min(calc(1em + 2.5vw), 54px);
    line-height: 1.25;
  }

  .previous-work {
    font-weight: 500;
  }

  .btn-contact {
    line-height: 26px;
    border-radius: 10px;
    padding: 8px 24px;
  }
}

#projects {
  margin-bottom: 100px;

  .project-item {
    padding: 0 20px;
    margin-bottom: 64px;
    color: #282828;

    a {
      cursor: url("../images/project_cursor.svg"), auto;
    }

    .project-title {
      color: #282828;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    .project-image {
      overflow: hidden;
      border-radius: 10px;

      img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .project-description {
      color: #868686;
    }
  }
}

#motto {
  font-size: min(calc(1em + 2.5vw), 24px);
  font-weight: 500;
  color: #323232;
  line-height: 1.3;
}

#slides {
  .slider-item {
    width: 314px !important;
    height: 234px;
    margin: 0 5px;
  }
}

.footer {
  padding: 40px 0;
  font-size: 14px;
  font-weight: 500;

  .social-link {
    color: #868686;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: url(../images/arrow_forward.svg);
      display: inline-block;
      vertical-align: sub;
      transition: 0.5s;
    }

    &:hover {
      color: #282828;

      &:after {
        content: url(../images/arrow_forward_2.svg);
        transform: rotate(45deg);
        transform-origin: 10px 12px;
      }
    }
  }
}

#about {
  --animate-delay: 0.5s;
  overflow: hidden;

  @media (min-width: 768px) {
    .introduction {
      padding-right: 40px;
    }
    .avatar-container {
      padding-left: 40px;
    }
  }

  .introduction-title {
    font-size: min(calc(1em + 2.5vw), 32px);
    line-height: 1.25;
    margin-bottom: 64px;
  }

  .description {
    line-height: 26px;
  }

  .avatar {
    width: 100%;
    max-width: 620px;
    object-fit: cover;
  }
}

.project-banner {
  img {
    width: 100%;
    max-height: calc(100vw / 2.88);
    object-fit: cover;
  }
}

.project-details {
  color: #424242;
}

.nda-disclosure {
  color: #868686;

  span {
    font-weight: 500;

    &.note {
      font-weight: 600;
    }
  }
}

.project-name {
  font-size: min(calc(1em + 2.5vw), 54px);
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-bottom: 72px;
  color: #282828;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.project-detail-primary-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #282828;
}

.project-detail-primary-sub-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #282828;
}

.project-detail-secondary-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #282828;
}

.project-main-image {
  margin-bottom: 60px;

  img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .project-detail-left {
    padding-right: 40px;
  }
  .project-detail-right {
    padding-left: 40px;
  }
}

.project-detail-section {
  margin-bottom: 64px;

  .project-image {
    text-align: center;

    img {
      max-width: 100%;
      cursor: pointer;
    }
  }
}

.project-detail-menu {
  position: sticky;
  top: 140px;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 12px;
  }

  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #868686;
    opacity: 0.8;

    &.active {
      color: #282828;
      opacity: 1;
    }
  }
}

.bg-whitesmoke {
  background-color: #F5F5F5;
  padding: 24px;
  height: 100%;
  border-radius: 12px;

  .project-detail-secondary-title {
    color: #063DCC;
  }

  li:not(:last-child) {
    margin-bottom: 5px;
 }
}
