body {
  font-family: "Wix Madefor Display", sans-serif;
  color: #282828;
}

::selection {
  background-color: black;
  color: pink;
}

a {
  text-decoration: none;
  color: #282828;
}

.header {
  font-size: 16px;

  .nav-link {
    color: #868686;

    &.active {
      color: #282828;
      font-weight: 500;
    }
  }

  .logo {
    font-size: 24px;
    font-weight: 600;
    font-family: "Cormorant Garamond";
  }
}

.main {
  padding: 120px 0;
}

#greeting {
  --animate-delay: 0.5s;
  padding-bottom: 160px;
  overflow: hidden;

  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .description {
    font-size: min(calc(1em + 2.5vw), 54px);
    line-height: 1.25;
  }

  .previous-work {
    font-weight: 500;
  }
}

#projects {
  margin-bottom: 80px;

  .project-item {
    padding: 32px 0 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #282828;
    cursor: url("../images/project_cursor.svg"), auto;

    .project-title {
      color: #282828;
      font-size: 24px;
    }

    .project-year {
      color: #868686;
    }

    .project-image {
      overflow: hidden;
      border-radius: 20px;

      img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

#motto {
  font-size: min(calc(1em + 2.5vw), 24px);
  font-weight: 500;
  color: #323232;
  line-height: 1.25;
}

#slides {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;

    .swiper-slide {
      height: 234px;
      width: 312px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      border-radius: 15px;
    }
  }
}

.footer {
  padding: 40px 0;
  font-size: 14px;
  font-weight: 500;

  .social-link {
    color: #868686;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: url(../images/arrow_forward.svg);
      display: inline-block;
      vertical-align: sub;
      transition: 0.5s;
    }

    &:hover {
      color: #282828;

      &:after {
        content: url(../images/arrow_forward_2.svg);
        transform: rotate(45deg);
        transform-origin: 10px 12px;
      }
    }
  }
}

#about {
  --animate-delay: 0.5s;
  overflow: hidden;


  @media (min-width: 768px) {
    .introduction {
      padding-right: 40px;
    }
    .avatar-container {
      padding-left: 40px;
    }
  }

  .introduction-title {
    font-size: min(calc(1em + 2.5vw), 32px);
    line-height: 1.25;
    margin-bottom: 64px;
  }

  .description {
    line-height: 26px;
  }

  .avatar {
    width: 100%;
    max-width: 620px;
    object-fit: cover;
  }
}

.project-banner {
  img {
    width: 100%;
    max-height: calc(100vw / 2.88);
    object-fit: cover;
  }
}

.nda-disclosure {
  margin-top: -80px;
  color: #868686;

  span {
    font-weight: 500;

    &.note {
      font-weight: 600;
    }
  }
}

.project-name {
  font-size: min(calc(1em + 2.5vw), 54px);
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.01em;
}
