body {
  font-family: "Wix Madefor Display", sans-serif;
  color: #282828;
}

a {
  text-decoration: none;
  color: #282828;
}

.header {
  font-size: 16px;

  .nav-link {
    color: #868686;

    &.active {
      color: #282828;
      font-weight: 500;
    }
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: "Cormorant Garamond";
  }
}

#greeting {
  --animate-delay: 0.5s;
  padding: 50px 0;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 100px 0;
  }

  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .description {
    font-size: min(calc(1em + 2.5vw), 54px);
    line-height: 1.25;
  }

  .previous-work {
    font-weight: 500;
  }
}

#projects {
  .project-item {
    padding: 30px 0 0;
    margin: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #282828;
    cursor: url("../images/project_cursor.svg"), auto;

    .project-title {
      color: #282828;
      font-size: 24px;
    }

    .project-year {
      color: #868686;
    }

    .project-image {
      overflow: hidden;
      border-radius: 20px;

      img {
        width: 100%;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}

#motto {
  font-size: min(calc(1em + 2.5vw), 24px);
  font-weight: 500;
  color: #323232;
  line-height: 1.25;
}

#slides {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;

    .swiper-slide {
      height: 234px;
      width: 312px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      border-radius: 15px;
    }
  }
}

.footer {
  font-size: 14px;
  font-weight: 500;

  .social-icons__link {
    color: #868686;

    &:after {
      content: url(../images/arrow_forward.svg);
      display: inline-block;
      vertical-align: sub;
      transition: 0.5s;
    }

    &:hover {
      color: #282828;

      &:after {
        content: url(../images/arrow_forward_2.svg);
        transform: rotate(45deg);
        transform-origin: 10px 11.5px;
      }
    }
  }
}
