body {
  font-family: "DM Sans", sans-serif;
  color: #1d1e20;
  background-color: rgb(255, 252, 250);
}

.header {
  font-size: 14px;
}

#greeting {
  .introduction-title {
    font-family: "DM Serif Display", serif;

    .name {
      color: #f06911;
    }
  }

  .introduction-description {
    font-family: "Work Sans";
  }
}

#works {
  .work-item {
    margin-bottom: 30px;

    .work-item-link {
      color: #000;
    }
  }
}

.footer {
  .social-icons__link {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #000;
  }
}
